<div *ngIf="properties">

  <label>{{ title }} text properties</label>
  <div>
    <label for="fontSize">font size:</label>
    <input id="fontSize" type="number" min="5" max="64"
           [(ngModel)]="properties.fontSize">
  </div>

  <div>
    <input [(colorPicker)]="_textColor"
           (colorPickerChange)="colorChanged('_textColor')"
           [style.background]="_textColor"
           [style.color]="contrastedColor(_textColor)"
           [value]="'Text color'" />
  </div>

  <div>
    <input [colorPicker]="_shadowColor"
           (colorPickerChange)="colorChanged('_shadowColor')"
           [style.background]="_shadowColor"
           [style.color]="contrastedColor(_shadowColor)"
           [value]="'Shadow color'" />
  </div>

</div>
