.inline {
  display: inline-block;
}

canvas {
  float: left;
}

.nodeSelected {
  font-weight: bold;
}

.nodeSkipped {
  color: gray;
}

.small {
  width: 25px;
  height: 25px;
}

button.delete {
  margin-top: 2px;
  margin-right: .8em;
  background-color: lightgray;
  color:red;
}
div.maptabset {
  float: left;
}

.maptabset /deep/.panel-title {
  font-size: 12px;
}

.maptabset /deep/.panel-heading {
  padding: 3px 12px;
}

tab > button {
  width: 100%;
}

.square {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 3px;
}

tabset /deep/.nav-stacked {
  float: left;
}
tabset /deep/.tab-content {
  float: left;
  width: 300px;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

