
<div class="maptabset">
<tabset >
  <tab heading="Settings">
    <text-prop [(properties)]="_editedProperties"
               [title]="_editedPropertiesTitle"></text-prop>
    <button (click)="recreate()">Create</button>
    <button (click)="update()">Update</button>
    <button (click)="placeLabels()">Place labels</button>
    <button (click)="resetCurves()">Reset curves</button>
    <button (click)="setFrame()">Reset frame</button>
  </tab>
  <tab heading="Places">
    <button (click)="recreate()" class="btn-primary">Update</button>
    <accordion>
      <accordion-group *ngFor="let n of _visitedPlaceList"
               [class.nodeSkipped]="isSkipped(n)"
               >
        <div accordion-heading>
          <input type="checkbox" 
           [ngModel]="!isSkipped(n)"
            (click)="toggleSkipNode(n); $event.stopPropagation();">
          {{n.label}}
        </div>
        <div *ngIf="!isSkipped(n)" class="btn-group">
          <label class="btn btn-default" [ngModel]="n.properties.landing"
                 (click)="toggleProperty(n, 'landing')"
                 btnCheckbox><img src="/assets/landing.svg" alt="Landing" width="16px" height="16px" /></label>
          <label class="btn btn-default" [ngModel]="n.properties.takeoff"
                 (click)="toggleProperty(n, 'takeoff')"
                 btnCheckbox><img src="/assets/takeoff.svg" alt="Take-off" width="16px" height="16px" /></label>
        </div>
      </accordion-group>
    </accordion>
  </tab>
  <tab heading = "Journey">
    <button (click)="recreate()" class="btn-primary">Update</button>
    <ul>
      <li *ngFor="let e of _stages"
        (click)="selectEdge(e)"
        [class.nodeSelected]="_selectedEdge && _selectedEdge.from == e.from && _selectedEdge.to == e.to"
        [class.nodeSkipped]="e.hidden"
        >
      {{ origin(e).label }} - {{ destination(e).label }}
        <input type="checkbox" 
         [ngModel]="!e.hidden"
          (click)="toggleHideEdge(e)">
      </li>
    </ul>
  </tab>
</tabset>
</div>

<canvas
  #mapCanvas
  [attr.width] = '_canvasWidth'
  [attr.height] = '_canvasHeight'></canvas>


